<%= render "shared/session_buttons" %>

<h1>All Posts</h1>

<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p><%= post.body %></p>
  <% if signed_in? %>
    <p>Author: <%= User.find(post.user_id).email %></p>
  <% end %>
<% end %>
